<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 class="heading">Header</h1>
      <div class="logo">LOGO</div>
    </header>
    <div class="main-container">
      <aside>
        <ul>
            <li class="item"><button>MenuBtn</button></li>
            <li class="item"><button>MenuBtn</button></li>
            <li class="item"><button>MenuBtn</button></li>
            <li class="item"><button>MenuBtn</button></li>
            <li class="item"><button>MenuBtn</button></li>
        </ul>
      </aside>
      <main>Main Area</main>
    </div>
    <footer>Footer</footer>
  </body>
</html>
