<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Sections</title>
</head>
<body>
    <h1>Browse my notes by section</h1>
    <ol>
        <li><a href="{% url 'browse-section' section_name='Web Frameworks' %}">Web Frameworks</a></li>
        <li><a href="{% url 'browse-section' section_name='Setting up Django' %}">Setting up Django</a></li>
        <li><a href="{% url 'browse-section' section_name='URL Mapping' %}">URL Mapping</a></li>
    </ol>
    <a href="{% url 'home' %}">Back to home</a>
</body>
</html>