html {
    /* height: 200%; */
}

body {
    border: black 3px solid;
    /* height: 100%; */
}

.borderstyle {
    margin: 6px;
    border: black 1px solid; 
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox1 {
    display: flex;
    justify-content: space-around;

}

li {
    list-style: none;
    border: black 1px solid;
}


/* second flexbox container */

.flexbox2 {
    display: flex;
}

.main {
    height: 400px;
    width: 66%;
    /* flex-basis: 66%; */
    /* flex-grow: 2; */
}

.aside {
    height: 400px;
    width: 33%;
    /* flex-basis: 33%; */
    /* flex-grow: 1; */
}

.innerFlexbox {
    display: flex;
    flex-direction: column;
}

.box1 {
    height: 60%; 
}

.box2 {
    height: 40%; 
}



/* third flexbox container */

.flexbox3 {
    display: flex;
}

.item1 {
    flex-grow: 0.6;
}

.item2 {
    flex-grow: 0.3;
}

.boxheight {
    height: 150px;
}

/* fourth flexbox container */

.lastboxes{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 150px;
}

.flexbox4 {
    display: flex;
    flex-wrap: wrap;
}

.innerFlexbox1 {
   align-items: center; 
   justify-content: center;
}

.innerFlexbox2 {
   align-items: center; 
   justify-content: flex-start;
}

.innerFlexbox3 {
   align-items: flex-start; 
   justify-content: flex-end;
}




